/*Global style*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "Poppins", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --margin-nav: 3em;
  --color-title: #001a49;
}

ul li {
  list-style: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1336px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  background: url("../Img/ozkan-guner-Nx7QwWF_sRg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.margin-bottom{
  margin-bottom: .5em;
}

.margin-top{
  margin-top: .5em;
}

/*Style Hero */

/* Estilos para la sección de héroe */
.Hero {
  position: relative;
  top: 0;
  left: 0;
  display: flex; /* Usar flexbox para alinear elementos horizontalmente */
  align-items: center; /* Alinear verticalmente en el centro */
  z-index: -1000;
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 3px;
}


/* Estilos para el texto del héroe */
.Hero__text {
  bottom:0px ;

}

.Hero__hero-title {
  font-size: 24px; /* Tamaño de la fuente del título */
  margin-bottom: 10px; /* Espaciado inferior del título */
}

.Hero__hero-paragraph {
  font-size: 16px; /* Tamaño de la fuente del párrafo */
  color: #333; /* Color del texto */
}
