/*Global style*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "Poppins", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --margin-nav: 3em;
  --color-title: #001a49;
}

ul li {
  list-style: none;
}



a,
a:hover,
a:active {
  text-decoration: none;
  color: #000000;
}

.title-1 {
  font-size: 1.8em; /* Tamaño de la fuente del título */
}

.paragraph-1 {
  font-size: 1.2em; /* Tamaño de la fuente del párrafo */
  color: #000000; /* Color del texto */
}

.title-2 {
  font-size: 1.5em; /* Tamaño de la fuente del título */
}

.paragraph-2 {
  font-size: 1.1em; /* Tamaño de la fuente del párrafo */
  color: #000000; /* Color del texto */
}

.container {
  width: 99%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  background: url("../Img/ozkan-guner-Nx7QwWF_sRg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.margin-bottom{
  margin-bottom: .5em;
}

.margin-top{
  margin-top: .5em;
}

/*Style Hero */

/* Estilos para la sección de héroe */
.Hero {
  position: relative;
  top: 0;
  left: 0;
  display: flex; /* Usar flexbox para alinear elementos horizontalmente */
  align-items: center; /* Alinear verticalmente en el centro */
  z-index: -1000;
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 5px;
}


/* Estilos para el texto del héroe */
.Hero__text {
  display: inline-flex;
  bottom:0px ;
  justify-content: center;
  align-items: center;
  flex-direction:column ;
  text-wrap: wrap;
  text-align: center;

}

.main{
  display: grid;
  grid-template-areas: "main_container section-aside";
}
